<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102721718481-918g92qjortdv7nlb0d8jl0o7kmotsvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102721718481-918g92qjortdv7nlb0d8jl0o7kmotsvf</string>
	<key>API_KEY</key>
	<string>AIzaSyB-dUAXKIN8_TOmqzkR8Ya7XDC3mZ-yl2w</string>
	<key>GCM_SENDER_ID</key>
	<string>102721718481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>erichan</string>
	<key>PROJECT_ID</key>
	<string>erichan-7a85c</string>
	<key>STORAGE_BUCKET</key>
	<string>erichan-7a85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102721718481:ios:099716f09f744a91ab9df0</string>
</dict>
</plist>